<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mert EFE Interview</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <p style="color: aliceblue; margin: 0"> Mert EFE </p>
</nav>

<div class="container my-2">

    <h3>Müşteri Listesi</h3>
    <strong>
        <a th:href="@{/listele}" class="btn btn-successful btn-sm"> Müşterileri <b> görmek, yeni müşteri eklemek, düzenlemek  </b> veya <b>silmek</b> tıklayınız. </a>
    </strong>
    <a th:href="@{/yeniMusteriEkle}" class="btn btn-primary btn-sm mb-3" style="margin-left:475px; "> Yeni Müsteri Ekle </a>
    <table border="1" class = "table table-striped table-responsive-md" style="border:2px solid darkgray ;border-radius: 7px; padding: 5px;">
        <thead>
        <tr>
            <th>TC</th>
            <th>Ad</th>
            <th>SoyAD</th>
            <th>TelNo</th>
            <th>AylıkGelir</th>
            <th>KrediSkoru</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Musteri : ${MusteriListele}">
            <td th:text="${Musteri.TC}"></td>
            <td th:text="${Musteri.ad}"></td>
            <td th:text="${Musteri.soyad}"></td>
            <td th:text="${Musteri.telno}"></td>
            <td th:text="${Musteri.aylikgelir}"></td>
            <td th:text="${Musteri.krediskor}"></td>
        </tr>
        </tbody>
    </table>
    <hr>
    <div class="container my-2" style="border:2px solid darkgray ;border-radius: 5px; padding: 5px;">
        <form action="#" th:action="@{/onay}" th:object="${musteri}">
            <label> Lütfen TC kimlik numaranızı giriniz </label>
            <input type="text" name="TC" placeholder="TC kimlik numarasi" required="required" class="form-control mb-4 col-4">
            <h5> TC kimlik numarası ile kredi skorunu test etmek için tıklayınız. </h5>
            <button type="submit" class="btn btn-info col-2" style="background-color: darkgreen">
                <b> TEST ET </b>
            </button>
        </form>
    </div>
    <hr>

    <strong>
        <a th:href="@{/kredi}" class="btn btn-primary btn-sm mb-3" style="background-color:red;"> Tablo aracılığıyla kredi testi yapmak için tıklayınız. </a>
    </strong>

</div>

</body>
</html>