<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <p style="color: aliceblue; margin: 0"> Mert EFE </p>
</nav>

<div class="container" style="margin:auto; margin-top: 50px;">
    <b> Merhaba </b> <strong th:text="${musteri.ad}"></strong>
    <b>, yeni kredi Limitiniz => [</b><strong th:text="${musteri.kredilimit}"></strong><b>] TL'dir. İyi günler dileriz.</b>
    <hr>
    <strong>  <a th:href="@{/}" class="btn btn-primary btn-sm mb-3" style="background-color: darkorange "> Anasayfa'ya dönmek için tıklayınız. </a> </strong>
</div>
<!--<h2 class="mt-5">Phone number: <strong th:text="${musteri}"></strong></h2>-->
</body>
</html>